body{
    background: linear-gradient(85deg,rgb(39, 39, 39), rgb(54, 54, 53));
}




ul{
	list-style:none;
	align:center;
	position:fixed;
	opacity: 0.5;
}
ul li{
	background-color:black;
	height:40px;
	width:250px;
	float:left;
	margin:0px;
	text-align:center;
}
ul li a{
	color:white;
	font-weight:bold;
	text-decoration:none;
	
}
ul li:hover{
	background-color:black;
	
}
ul li ul li{
	display:none;
	align:center;
}
ul li:hover ul li{
	display:block;
	float:center
}
img{
	position:fixed;
	top:0px;
	opacity: 0.5;
}
h1{
	position:center;
}
.Mac{
	margin-top: 40px;
}
